@font-face {
    font-family: 'Jost';
    src: url('jost-webfont.woff2') format('woff2'),
         url('jost-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DM Serif Display';
    src: url('dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
